html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ffc1cc;
  /* animation: 1.5s ease 0s infinite pulse; */
}

.box {
  height: 500px;
  resize: both;
}
 
svg {
  width: 100%;
}

#heart {
  height: 100%;
  margin-left: auto;
  animation: 1.5s ease 0s infinite beat;
}

@keyframes beat {
  0%, 50%, 100% { transform: scale(1, 1); }
  30%, 80% { transform: scale(0.92, 0.95); }
}

@keyframes pulse {
  0%, 50%, 100% {  background: #fadede; }
  30%, 80% { background: #ffc1cc; }
}

@font-face {
  font-family: 'customfont';
  src: url('Affectionately\ Yours\ -\ TTF.ttf') format('truetype');
}

.click-text {
  font-size: 2em;
  font-family: 'customfont', sans-serif;
  color: #333;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .click-text {
      font-size: 1.5em;
      width: 90%;
  }
}